<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页</title>


	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="navbar-coolapse" role="navigation">
				<ul class="nav navbar-nav">
					<li>
						<a href="./index.html"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;参考案例</a>
					</li>
					<li>
						<a href="./addCase.html"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;添加案例</a>
					</li>
					<li>
						<a href="./addPub.html"><span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;舆情特报</a>
					</li>
					<li>
						<a href="./chart.html"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;图表统计</a>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="w_con">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<div class="col-xs-12 left_block_s">
						<div class="input-group">
							<input type="text" class="form-control b_search" placeholder="搜索你想要的">
							<div class="input-group-addon b_search_addon" style="cursor:pointer">
								<span class="glyphicon glyphicon-search"></span>
							</div>
							<!-- <input type="text" class="form-control b_search" placeholder="搜索你想要的">
							<span class="glyphicon glyphicon-search form-control-feedback"></span> -->
						</div>
					</div>
					<div class="col-xs-12 left_block">
						<div class="left_block_top">
							<span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;突发事件类别
						</div>
						<div class="left_block_con">
							<ul class="select_ul">
								<li class="active">全部</li>
								<li>触电停电</li>
								<li>电网建设</li>
								<li>供电服务</li>
								<li>工资福利</li>
								<li>电磁环境</li>
								<li>电价电表</li>
								<li>人事劳务</li>
								<li>奢侈腐败</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-xs-12 left_block">
						<div class="left_block_top">
							<span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;突发事件地点
						</div>
						<div class="left_block_con">
							<ul class="select_ul">
								<li class="active">全部</li>
								<li>鹿城</li>
								<li>龙湾</li>
								<li>瓯海</li>
								<li>乐清</li>
								<li>瑞安</li>
								<li>苍南</li>
								<li>平阳</li>
								<li>永嘉</li>
								<li>洞头</li>
								<li>泰顺</li>
								<li>文成</li>
								<li>其他</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-xs-12 left_block">
						<div class="left_block_top">
							<span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;危险预警级别
						</div>
						<div class="left_block_con">
							<ul class="select_ul">
								<li class="active">全部</li>
								<li>I级</li>
								<li>II级</li>
								<li>III级</li>
								<li>IV级</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-xs-12 left_block">
						<div class="left_block_top">
							<span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;直接处理单位
						</div>
						<div class="left_block_con">
							<ul class="select_ul">
								<li class="active">全部</li>
								<li>市公司</li>
								<li>工区</li>
								<li>区县公司</li>
								<li>供电所</li>
								<li>一线班组</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-xs-12 left_block">
						<div class="left_block_top">
							<span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;舆情表现形式
						</div>
						<div class="left_block_con">
							<ul class="select_ul">
								<li class="active">全部</li>
								<li>热线投诉</li>
								<li>网络舆情</li>
								<li>记者采访</li>
								<li>群体性事件</li>
								<li>媒体报道</li>
								<li>其他</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-9">
					<div class="col-xs-12 right_block">
						<div class="right_block_top">
							<span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;典型案例
						</div>
						<div class="right_block_con">
							<div class="one_page no_case">
								暂无案例
							</div>
							<!-- <div class="one_page">
								<a href="" class="one_page_title">2013-01-25市公司关于涯论坛网友发出电力局员工工资单的舆情处理案例</a>
								<ul class="one_page_ul">
									<li>工资福利</li>
									<li>其他</li>
									<li>III级</li>
									<li>市公司</li>
									<li>网络舆情</li>
								</ul>
								<div class="clear"></div>
							</div>
							<div class="one_page">
								<a href="" class="one_page_title">2013-01-25市公司关于涯论坛网友发出电力局员工工资单的舆情处理案例</a>
								<ul class="one_page_ul">
									<li>工资福利</li>
									<li>其他</li>
									<li>III级</li>
									<li>市公司</li>
									<li>网络舆情</li>
								</ul>
								<div class="clear"></div>
							</div>
							<div class="one_page">
								<a href="" class="one_page_title">2013-01-25市公司关于涯论坛网友发出电力局员工工资单的舆情处理案例</a>
								<ul class="one_page_ul">
									<li>工资福利</li>
									<li>其他</li>
									<li>III级</li>
									<li>市公司</li>
									<li>网络舆情</li>
								</ul>
								<div class="clear"></div>
							</div> -->
						</div>
						<div class="right_block_footer">
							<a href="javascript:void(0)" class="downpage disable">下一页</a>
							<a href="javascript:void(0)" class="uppage">上一页</a>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-xs-12 right_block">
						<div class="right_block_top">
							<span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;重要风险
						</div>
						<div class="right_block_con">
							<div class="one_page">
								<a href="./page.html" class="one_page_title">2013-01-25市公司关于涯论坛网友发出电力局员工工资单的舆情处理案例</a>
								<ul class="one_page_ul">
									<li>工资福利</li>
									<li>其他</li>
									<li>III级</li>
									<li>市公司</li>
									<li>网络舆情</li>
								</ul>
								<div class="clear"></div>
							</div>
							<div class="one_page">
								<a href="" class="one_page_title">2013-01-25市公司关于涯论坛网友发出电力局员工工资单的舆情处理案例</a>
								<ul class="one_page_ul">
									<li>工资福利</li>
									<li>其他</li>
									<li>III级</li>
									<li>市公司</li>
									<li>网络舆情</li>
								</ul>
								<div class="clear"></div>
							</div>
							<div class="one_page">
								<a href="" class="one_page_title">2013-01-25市公司关于涯论坛网友发出电力局员工工资单的舆情处理案例</a>
								<ul class="one_page_ul">
									<li>工资福利</li>
									<li>其他</li>
									<li>III级</li>
									<li>市公司</li>
									<li>网络舆情</li>
								</ul>
								<div class="clear"></div>
							</div>
						</div>
						<div class="right_block_footer">
							<a href="javascript:void(0)" class="downpage">下一页</a>
							<a href="javascript:void(0)" class="uppage disable">上一页</a>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-xs-12 right_block">
						<div class="right_block_top">
							<span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;一般案例
						</div>
						<div class="right_block_con">
							<div class="one_page">
								<a href="" class="one_page_title">2013-01-25市公司关于涯论坛网友发出电力局员工工资单的舆情处理案例</a>
								<ul class="one_page_ul">
									<li>工资福利</li>
									<li>其他</li>
									<li>III级</li>
									<li>市公司</li>
									<li>网络舆情</li>
								</ul>
								<div class="clear"></div>
							</div>
							<div class="one_page">
								<a href="" class="one_page_title">2013-01-25市公司关于涯论坛网友发出电力局员工工资单的舆情处理案例</a>
								<ul class="one_page_ul">
									<li>工资福利</li>
									<li>其他</li>
									<li>III级</li>
									<li>市公司</li>
									<li>网络舆情</li>
								</ul>
								<div class="clear"></div>
							</div>
							<div class="one_page">
								<a href="" class="one_page_title">2013-01-25市公司关于涯论坛网友发出电力局员工工资单的舆情处理案例</a>
								<ul class="one_page_ul">
									<li>工资福利</li>
									<li>其他</li>
									<li>III级</li>
									<li>市公司</li>
									<li>网络舆情</li>
								</ul>
								<div class="clear"></div>
							</div>
						</div>
						<div class="right_block_footer">
							<a href="javascript:void(0)" class="downpage">下一页</a>
							<a href="javascript:void(0)" class="uppage">上一页</a>
							<div class="clear"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
<!-- javascript -->
<script type="text/javascript" src="../public/js/lib/jquery-1.9.1.min.js"></script>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="../public/js/lib/bootstrap.min.js"></script>
</html>